.calendar {
  padding: 5px;
}

.calendar h2 {
  margin: 0;
}

.week {
  display: inline-block;
}

.month {
  display: inline-block;
  padding: 5px;
  font-size: 0.5em;
}

.month-span {
  display: block;
  text-align: center;
  padding: 5px;
}